<mat-toolbar color="black" class="toolbar">
  <span> Keycloak Demo</span>
  <span class="emptySpace"></span>
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</mat-toolbar>


<h1>Hallo, {{userInfo.given_name}}</h1>
<br>
<h2 >Your Profile: </h2>
<mat-card>

  <mat-card>
    <mat-card-subtitle> First Name</mat-card-subtitle>
    {{userInfo.given_name}}
  </mat-card>
  <mat-card>
    <mat-card-subtitle> Last Name</mat-card-subtitle>
    {{userInfo.family_name}}
  </mat-card>
  <mat-card>
    <mat-card-subtitle> Username</mat-card-subtitle>
    {{userInfo.preferred_username}}
  </mat-card>
  <mat-card>
    <mat-card-subtitle> Email</mat-card-subtitle>
    {{userInfo.email}}
  </mat-card>
</mat-card>

<!-- <mat-card>
  <p>
    <label for="token">Token</label>
    <textarea id="token" rows="5">{{token}}</textarea>
  </p>
  <p>
    <label for="refreshToken">refreshToken</label>
    <textarea id="refreshToken" rows="5">{{refreshToken}}</textarea>
  </p>

  <input type="button" value="Update Token" (click)="update()"/>

</mat-card> -->


